@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  position: sticky;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.active {
  font-weight: 800;
}
.container {
  width: calc(100% - 120px);
  margin: auto;
}
header {
  box-shadow: 0px 1.64744px 8.2372px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 9;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .logo img{
  width: 30px;
}
header .logo a {
  font-size: 15px;
  color: #545be8;
}
nav ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
nav ul li a {
  color: #101928;
  font-size: 12px;
}
header .auth {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
header .auth a {
  font-size: 12px;
  padding: 5.354px 32px;
  border: 0.412px solid #545be8;
  font-family: Inter;
  border-radius: 5px;
}
.auth .login {
  color: #545be8;
}
.auth .register {
  background-color: #545be8;
  color: #fff;
}
.testimonials{
  padding: 40px 0;
}
.testimonials .row{
  justify-content: flex-start;
  gap: 40px;
}


.testimonial{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
background-color: var(--White-color, #FFF);
box-shadow: 0px 8.2372px 8.2372px 0px rgba(0, 0, 0, 0.10);
position: relative;
width: calc((100% - 40px)/2);
}
.testimonial:after{
  content: '';
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  position: absolute;
  border-top: 30px solid  #989494;
  border-left: 30px solid transparent;
  border-bottom: 30px solid transparent;
  transform: rotate(0deg);
}

.testimonials .user-info{
  display: flex;
  gap: 10px;
}
.testimonials .data-info{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.testimonials .data-info span{
  color: var(--Medium, #969696);
}
.testimonials .user-info img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.footer{
  background-color: #393E46;
  padding: 30px 0;
  color: #fff;
}
.footer .row{
  gap: 20px;
}
.footer .logo{
  display: flex;
  align-items: center;
  gap: 5px; 
}
.footer-left-side{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}
.footer .logo img{
  width: 30px;
}
.footer a{
  color: #fff;
}
.footer p{
  font-size: 15px;
}
.footer .icons{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.footer .icons svg{
  border:1px solid #fff;
  padding:10px;
  box-sizing: content-box;
}
.footer .footer-right-side
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-left-side,.footer-right-side{
  width: calc((100% - 20px)/2);
}
.footer-item{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-item nav{
  display: flex;
  flex-direction: column;
gap: 10px;
}
  .rating svg{
  color: goldenrod;
}


